{{!-- *Iteration 4 --}}
<a href="/">Go back</a>
<div>
    <h2>Your Celebrities:</h2>
    {{#each this.allCelebs}}
    <li>
        <a href="/celebrities/{{this._id}}">{{this.name}}</a>
    </li>
    {{/each}}
</div>