{{!-- //*Iteration 3 Create form--}}
<a href="/">Go back</a>
<div>
    <h2>Celebrity Form</h2>
    <form action="/celebrities/create" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <br>
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation">
    <br>
    <label for="catchPhrase">Catch Phrase: </label>
    <input type="text" name="catchPhrase">
    <br>

    <button>Submit</button>
    
    </form>
</div>