<div id = "main-page">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- //*Iteration 3 --}}
<p>
<a href="/celebrities/create">Add Celebrity</a> |
{{!-- //*Iteration 4 --}}
<a href="/celebrities">All Celebrities</a> |
{{!-- *Iteration 6 --}}
<a href="/movies/create">Add Movie</a> |
{{!-- *Iteration 7 --}}
<a href="/movies">All Movies</a> |
</p>
</div>